$breakpoint-screen: 750px;

.header {
    $block: ".header";

    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px 15px 30px;
    height: 60px;
    width: 100%;

    #{$block}__left-menu {
        width: 40%;
        display: flex;
        flex-direction: row;
        align-items: center;
    
        &-logo {
            width: 15%;
            height: 15%;
        }

        &-dropdown {
            display: none;
            color: white;

            &-icon {
                width: 10px;
                height: 5.5px;
                margin-left: 10px;
                transform: rotate(180deg);
            }
        }
    
        &-list {    
            &-text {
                font-family: 'Quicksand-Regular';
                font-size: 13px;
            }
    
            &-active {
                font-family: 'Quicksand-Bold';
            }
        }
    
        @media (max-width: $breakpoint-screen) {
            .left-list {
                display: none;
            }
    
            .left-dropdown {
                margin-left: 20px;
                font-size: 11px;
                font-family: 'Quicksand-Bold';
                cursor: pointer;
            }
        }
    }
    
    #{$block}__right-menu {
        display: flex;
        flex-direction: row;
        align-items: center;

        &_search-icon {
            width: 17px;
            height: 17px;
            cursor: pointer;
            z-index: 4;
        }

        &_search-bar {
            display: flex;
            flex-direction: row;
            align-items: center;
            
            &_active {
                border-color: white;
                border-width: 1px;
                border-style: solid;
                padding: 7px;
            }
        }

        &_search-input {
            color: white;
            background: none;
            border: none;
            transition: width .5s;
            width: 0px;
        
            &:focus {
                outline-width: 0;
            }

            &_active {
                width: 150px;
                margin-left: 10px;
            }
        }

        &_gift-icon {
            width: 20px;
            height: 20px;
            cursor: pointer;
            margin-left: 20px;
            z-index: 4;
        }

        &__notification-container {
            position: relative;
            cursor: pointer;
            z-index: 2;

            &__notification-area {
                position: absolute;
                width: 320px;
                height: 90px;
                padding-top: 40px;
                right: 0;
                top: 0;
                text-align: end;
                display: block;
                visibility: hidden;
                opacity: 0;
                transition: visibility 0s, opacity 0.5s linear;

                &__arrow-up {
                    display: block;
                    float: right;
                    width: 320px;
                    border-bottom: 0.5px solid white;

                    &_icon {
                        display: block;
                        float: right;
                        width: 12px;
                        height: 6.5px;
                        margin-right: 4px;
                    }
                }

                &__list {
                    cursor: auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 13px;
                    font-family: 'Quicksand-Bold';
                    width: 320px;
                    height: 90px;
                    background-color: rgb(20, 20, 20);
                    opacity: .5;
                    color: gray;
                
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        
            &:hover {
                .header__right-menu__notification-container__notification-area {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
        
        &_bell-icon {
            width: 17px;
            height: 20px;
            cursor: pointer;
            margin-left: 20px;
            margin-top: 5px;
        }

        &__avatar-container {
            display: flex;
            flex-direction: row;
            cursor: pointer;
            align-items: center;
            position: relative;

            &_arrow-down {
                width: 10px;
                height: 5.5px;
                margin-left: 10px;
                transform: rotate(180deg);
            }

            &_icon {
                width: 30px;
                height: 30px;
                margin-left: 20px;
            }
        
            &__options {
                position: absolute;
                width: 200px;
                display: none;
                top: 0;
                right: 0;
                padding-top: 50px;
                padding-right: 23px;

                &_arrow-up {
                    align-self: flex-end;
                    display: flex;
                    width: 12px;
                    height: 6.5px;
                }

                &__list-options {
                    height: 220px;
                    width: 210px;
                    background-color: rgb(20, 20, 20);
                    opacity: .9;
                    display: flex;
                    flex-direction: column;
                    font-size: 12px;
                    margin-top: 5px;
                    box-shadow: 0px 0px 2px 1px rgba(255,255,255,0.32);

                    &__row {
                        display: flex;
                        flex-direction: row;
                        cursor: pointer;
                        align-items: center;
                        justify-content: flex-start;
                        padding-bottom: 8px;
                    
                        &:first-child {
                            padding-top: 10px;
                        }

                        &_icon {
                            width: 30px;
                            height: 30px;
                            margin-left: 20px;
                        }

                        &_text {
                            font-family: 'Quicksand-Regular';
                            margin-left: 12px;
                            color: white;
                        
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
    
                    &_manage-profiles {
                        padding-top: 10px;
                        color: white;
                        font-family: 'Quicksand-Regular';
                        margin-left: 20px;
                    
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                    
                    &_separator {
                        margin-top: 20px;
                        background-color: grey;
                        width: 100%;
                        height: 1px;
                        margin-bottom: 10px;
                    }
                    
                    &_settings-option {
                        margin-left: 20px;
                        margin-top: 10px;
                        font-family: 'Quicksand-Bold';
                        color: white;
                    
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }

            &:hover {
                .header__right-menu__avatar-container__options {
                    display: flex;
                    justify-content: flex-end;
                    flex-direction: column;
                }
            }
        }
    }
    
    ul {
        list-style:none;
    
        li {
            display: inline-block;
            margin-right: 12px;
            color: white;
            font-family: 'Quicksand-Regular';
            font-size: 14px;
            cursor: pointer;
    
            &:hover {
                color: grey;
            }
        }
    }
}