$animationSpeed: 40s;

.carousel {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    height: 15vw;
    align-items: center;
    overflow-x: visible;

    .arrow-icon {
        width: 1.5vw;
        height: 3vw;
    }

    .rotate180 {
        transform: rotate(180deg);
    }

    .back-container {
        position: absolute;
        left: 1.5%;
        cursor: pointer;
        z-index: 4;
    }

    .next-container {
        position: absolute;
        right: 1.5%;
        cursor: pointer;
        z-index: 4;
    }

    .pagination {
        display: none;
        position: absolute;
        top: 0px;
        right: 20px;
        flex-direction: row;

        .pagination-item {
            width: 1vw;
            margin-right: .3vw;
            height: .2vw;
        }

        .active {
            background-color: white;
        }

        .disabled {
            background-color: grey;
        }
    }

    &:hover {
        .pagination {
            display: flex;
        }
    }

    .slider {
        position: relative;
        display: flex;
        flex-direction: row;
        overflow-x: visible;
        overflow-y: hidden;
        width: 100%;

        .slider-content {
            width: 100%;
            height: 20vw;
            display: flex;
            flex-direction: row;
            transform-style: preserve-3d;
            margin: 0 auto;
            align-items: center;
            padding-left: 5%;
        }
    }

    .data-container {
        opacity: 1;
        z-index: 100;
        margin-right: 5px;
        width: 17%;
        height: 9vw;
        position: relative;
        flex: 0 0 auto;
        transition: all .3s .5s ease-in-out;
        margin-top: 2vw;

       &:hover {
        transform: scale(1.9);
        margin-right: 8%;
        margin-left: 7.6%;

            .item-poster {
                visibility: hidden;
            }

            .item-video {
                opacity: 1;
            }
        }

        .item-poster {
            position: absolute;
            width: 100%;
            height: 9vw;
            visibility: visible;
            transition: visibility 1.7s ease-in-out;
        }

        .item-video {
            position: absolute;
            width: 100%;
            height: 9vw;
            opacity: 0;
            transition: opacity 0s .8s ease-in-out;

            .video-small {
                object-fit: cover;
                position: absolute;
            }

            .video-container {
                position: absolute;
                z-index: 2;
                display: flex;
                flex-direction: column;
                color: white;
                font-size: 1vw;
                margin-left: 1vw;
                font-family: 'Quicksand-Regular';
                bottom: 1vw;
                animation: autoHide 0s ease-in 3s forwards;

                .play-container {
                    height: 1.2vw;
                    width: 1.2vw;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 100%;
                    background-color: white;
                    margin-bottom: .4vw;
                    
                    .icon {
                        height: .55vw;
                        width: .55vw;
                    }
                }
            }
        }
    }

    .active {
        position: relative;
        z-index: 900;
        opacity: 1;
        flex: 0 0 auto;
    }
    
    .prev {
        transform: translateX(-100vw);
        z-index: 800;
    }

    .next {
        transform: translateX(100vw);
        z-index: 800;
    }
}

@keyframes autoHide {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}

@-webkit-keyframes autoHide {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}