.carousel {
    width: 100%;
    position: relative;

    .arrow-icon {
        width: 2vw;
        height: 4vw;
    }

    .rotate180 {
        transform: rotate(180deg);
    }

    .back-container {
        position: absolute;
        left: 0;
    }

    .next-container {
        position: absolute;
        right: 0;
    }
}